[Unit]
Description=gome-server

[Service]
Type=simple
User=root
Group=root
ExecStart=/etc/apps/gome-server/gome-server
Restart=always

[Install]
WantedBy=multi-user.target

