[Unit]
Description=gome-server
After=redis-server.service
Requires=redis-server.service

[Service]
Type=simple
User=root
Group=root
ExecStart=/etc/gome-server/main
Restart=always

[Install]
WantedBy=multi-user.target

