---
  - name: Gather vars
    include_vars:
      dir: 'vars'
      extensions: ['yml']

  - name: Clean any old versions for fun
    command: rm -rf {{ gopath }}src/{{ repo }}/
    become: yes

  - name: Install packages
    apt:
      update_cache: yes
      name: "{{ item.value.pkg }}"
      state: "latest"
    with_dict: "{{ packages }}"
    become: yes

  - name: Create go project structure
    file:
      path: "{{ item.value.dir }}"
      state: directory
      mode: 0755
    with_dict: "{{ structure }}"

  - name: Create bash bash_profile
    file:
      path: "/home/pi/.bash_profile"
      state: touch
    become: yes

  - name: Set $GOPATH
    lineinfile:
      path: /home/pi/.bash_profile
      line: 'export GOPATH={{ gopath }}'
    become: yes

  - name: "Go-Lang | Run get commands"
    shell: "/usr/bin/go get {{ item.value.url }}"
    environment:
      GOPATH: "{{ gopath }}"
    with_dict: "{{ goRepos }}"
    become: yes

  - name: Make sure config directory exists
    file:
      path: "/etc/gome/"
      state: directory
      mode: 0755
    become: yes

  - name: set application secrets
    template:
      src: roles/application/templates/secrets.json.j2
      dest: "/etc/gome/secrets.json"
    become: yes

  - name: set device file
    template:
      src: roles/application/templates/devices.json.j2
      dest: "/etc/gome/devices.json"
    become: yes
    when: push_blank_device_list

  - name: Compile it!
    shell: "go build -o main ."
    args:
      chdir: "{{ gopath }}src/{{ repo }}/"
    environment:
      GOPATH: "{{ gopath }}"
    become: yes

  - name: Did it Compile?
    stat: "path={{ gopath }}src/{{ repo }}/main"
    register: main

  - name: Make sure service directory exits
    file:
      path: "/usr/lib/systemd/system/"
      state: directory
    become: yes

  - name: Copy Service Files
    template:
      src: "roles/application/templates/gome-server.service"
      dest: "/usr/lib/systemd/system/"
    when: main.stat.exists
    become: yes

  - name: Unleash the daemon (make new service known)
    command: systemctl daemon-reload
    become: yes
    notify:
      - restart gome