[Unit]
Description=gome-server

[Service]
Type=simple
User=root
Group=root
ExecStart={{ gopath }}src/{{ repo }}/main
Restart=always

[Install]
WantedBy=multi-user.target
