[Unit]
Description=gome-server
After=redis-server.service
Requires=redis-server.service

[Service]
Type=simple
User=root
Group=root
ExecStart={{ gopath }}src/{{ repo }}/main
Restart=always

[Install]
WantedBy=multi-user.target

