{
    "slack_secret" : "{{ slack_secret }}"
    "aws_id": "{{ aws_id  }}",
    "aws_secret": "{{ aws_secret }}",
    "aws_region": "{{ aws_region }}",
    "aws_token": "{{ aws_token }}",
    "aws_queue_url": "{{ aws_queue_url }}"
}